@model IEnumerable<Lims.ViewModels.PurchaseDateGroup>
@*switch this to about the company*@
@{
    ViewBag.Title = "About LIMS";
}

<h2>What LIMS is all about</h2>


    <tr>
        <th>
            LIMS is great, super duper awesome
        </th>
        <th>
            
        </th>
    </tr>
