@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LIMS</h1>
    <p class="lead">LIMS (Demo site) is the greatest Inventory and HR Management System on the market. This application is geared towards small to midsize Businesses.</p>
    <p><a href="https://daschroeder.github.io/" class="btn btn-success">Learn more about the Team</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why LIMS ?</h2>
        <p>
            LIMS gives you a powerful, patterns-based way to build your company. Simple setup and intuitive navigation.
        </p>
        <p><a href="https://www.youtube.com/watch?v=pAgnJDJN4VA" class="btn btn-success">Demo</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save time and money</h2>
        <p>If you rather invest your precious time and money into growing your business rather then managing boring tasks LIMS is for you</p>
        <p><a href="https://daschroeder.github.io/" class="btn btn-success">Buy</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Find out who we are, where we are and why we do what we do.</p>
        <p><a href="https://www.linkedin.com/in/daniel-schroeder-84236021/?locale=en_US" class="btn btn-success">Connect</a></p>
    </div>
</div>